@using Haber35.UI.Models.VMs
@model RegisterVM
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8" />
    <title>Giriş</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Login Screen" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/AdminAssets/assets/images/favicon.ico">

    <!-- App css -->
    <link href="~/AdminAssets/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/css/login.css" rel="stylesheet" type="text/css" />
    <link href="~/AdminAssets/assets/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />

</head>

<body class="account-body accountbg">

    <!-- Log In page -->
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="card">
                            <div class="card-body p-0 auth-header-box">
                                <div class="text-center p-3">
                                    <a href="index.html" class="logo logo-admin">
                                        <img src="/AdminAssets/logo.png" height="50" alt="logo" class="auth-logo">
                                    </a>
                                    <h4 class="mt-3 mb-1 font-weight-semibold text-white font-18">Kayıt Olun</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <ul class="nav-border nav nav-pills" role="tablist">
                                    <li class="nav-item">
                                        <span class="nav-link active font-weight-semibold">Kayıt Ol</span>
                                    </li>
                                </ul>

                                <div class="px-3 pt-3">

                                    <form class="form-horizontal auth-form my-4" id="register-form" asp-controller="Home" asp-action="Register" method="post" autocomplete="off">
                                        <div class="form-group">
                                            <label for="UserName">Kullanıcı Adı</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" asp-for="UserName" placeholder="Kullanıcı Adı">
                                            </div>
                                            <span asp-validation-for="UserName"></span>
                                        </div><!--end form-group-->

                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <div class="input-group mb-3">
                                                <input type="email" class="form-control" asp-for="Email" placeholder="Email">
                                            </div>
                                        </div><!--end form-group-->

                                        <div class="row">
                                            <div class="form-group col">
                                                <label for="FirstName">İsim</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" asp-for="FirstName" placeholder="İsim">
                                                </div>
                                            </div><!--end form-group-->

                                            <div class="form-group col">
                                                <label for="LastName">Soyisim</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" asp-for="LastName" placeholder="Soyisim">
                                                </div>
                                            </div><!--end form-group-->
                                        </div>

                                        <div class="form-group">
                                            <label for="PhoneNumber">Telefon Numarası</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" asp-for="PhoneNumber" placeholder="Telefon Numarası">
                                            </div>
                                        </div><!--end form-group-->

                                        <div class="form-group">
                                            <label for="Adress">Adres</label>
                                            <textarea asp-for="Adress" rows="3" class="form-control" placeholder="Adres ..."></textarea>
                                        </div>

                                        <div class="row">
                                            <div class="form-group col">
                                                <label for="Password">Şifre</label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control" asp-for="Password" placeholder="Şifre" autocomplete="off">
                                                </div>
                                            </div><!--end form-group-->

                                            <div class="form-group col">
                                                <label for="RePassword">Şifre Tekrar</label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control" name="RePassword" id="RePassword" placeholder="Şifreyi Tekrar Girin" autocomplete="off">
                                                </div>
                                            </div><!--end form-group-->
                                        </div>

                                        <div class="form-group row mt-4">
                                            <div class="col-sm-12">
                                                <div class="custom-control custom-switch switch-success">
                                                    <input type="checkbox" class="custom-control-input" id="customSwitchSuccess2">
                                                    <label class="custom-control-label text-muted" for="customSwitchSuccess2">Haber35 <a href="#" class="text-primary">Kullanım Koşulları</a>nı kabul ediyorum.</label>
                                                </div>
                                            </div><!--end col-->
                                        </div><!--end form-group-->

                                        <div class="form-group mb-0 row">
                                            <div class="col-12 mt-2">
                                                <button id="register-button" class="btn btn-primary btn-block waves-effect waves-light" type="submit">Kayıt Ol <i class="fas fa-sign-in-alt ml-1"></i></button>
                                            </div><!--end col-->
                                        </div> <!--end form-group-->
                                    </form><!--end form-->
                                </div>
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div><!--end container-->
    <!-- End Log In page -->
    <!-- jQuery  -->
    <script src="~/AdminAssets/assets/js/jquery.min.js"></script>
    <script src="~/AdminAssets/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminAssets/assets/js/waves.js"></script>
    <script src="~/AdminAssets/assets/js/feather.min.js"></script>
    <script src="~/AdminAssets/assets/js/simplebar.min.js"></script>

    <script>
        $('#register-button').on("click", function(e){
            e.preventDefault();

            let isValid = true;

            if($('#Password').val() != $('#RePassword').val()){
                notyf.error("Şifreler eşleşmiyor.")
                isValid = false;
            }

            if(!$('#customSwitchSuccess2').prop('checked')){
                notyf.error("Koşulları onaylayın.")
                isValid = false;
            }

            if(isValid){
                $('#register-form').submit();
            }

        })
    </script>

    <partial name="_ValidationScriptsPartial"></partial>
    @await Component.InvokeAsync("Notyf")
</body>

</html>