@using Haber35.UI.Models.VMs.Admin
@model ChangePasswordVM
@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!--Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row">
                <div class="col">
                    <h4 class="page-title">Şifre Değiştir</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Şifre Değiştir</li>
                    </ol>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->
<!-- end page title end breadcrumb -->


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <form asp-action="ChangePassword" method="post" id="myForm" enctype="multipart/form-data" autocomplete="off">
                    
                    <div class="form-group row">
                        <div class="col col-xl-4 col-md-4">
                            <label asp-for="OldPassword">Şuanki Şifreniz</label>
                            <input type="password" asp-for="OldPassword" class="form-control" placeholder="Şuanki Şifreniz" autocomplete="off" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col col-xl-4 col-md-4">
                            <label asp-for="NewPassword">İsim</label>
                            <input type="password" asp-for="NewPassword" class="form-control" placeholder="Yeni Şifre" autocomplete="off" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="col col-xl-4 col-md-4">
                            <label for="RePassword">Yeni Şifre Tekrar</label>
                            <input type="password" id="RePassword" name="RePassword" class="form-control" placeholder="Yeni Şifre Tekrar" autocomplete="off" />
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit"  id="submit-button"  class="btn btn-primary">
                            <i class="mdi mdi-launch"></i> Şifre Değiştir
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{

<script>
       $('#submit-button').on("click", function(e){
            e.preventDefault();

            let isValid = true;

            if($('#NewPassword').val() != $('#RePassword').val()){
                notyf.error("Şifreler eşleşmiyor.")
                isValid = false;
            }

            if(isValid){
                $('#myForm').submit();
            }

        })
</script>
}